$yellow_color:          #fed766;
$light_gray:     		#eeeeee;
$darker_gray:         	#d8dbdd;
$dark_gray:				#1e1e1e;
$white:					#ffffff;
$black:					#000000;
$move_color:			#9da4ab;
$effects_color: 		#e6e6ea;
$cup_orange:			#ff7a45;
$cup_yellow:			#fed766;
$cup_green:				#d3f8e2;
$cup_blue:				#7de0eb;
$cup_pink:				#e8d6fb;
$cup_red:				#fe4a49;
$cup_color_selected:	#e3e3ea;
$color_buttons:			#e1e1e1;

$sidebar_width: 		280px;